.title-container {
    min-height: 100vh;
    width: 100vw;
    background: #8ab6b6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5%;
}

.title-card {
    background: #fbe6c2;
    border: 0.22rem solid #234342;
    border-radius: 1.2rem;
    width: 20vw;
    height: 70vh;
    min-width: 300px;
    max-width: 430px;
    margin: 0 auto 1.8rem auto;
    box-shadow: 0 0.16rem 0.8rem #23434222;
    padding: 1.4rem 1.2rem 1.6rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-title {
    font-size: 2.8rem;
    font-weight: bold;
    color: #234342;
    text-align: center;
    letter-spacing: 0.08em;
    margin-bottom: 0.7rem;
}

.title-divider {
    width: 90%;
    min-width: 120px;
    height: 0.22rem;
    background: #234342;
    border-radius: 0.12rem;
    margin: 0.7rem 0 1.1rem 0;
    display: block;
}

.title-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.title-list-item {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.title-icon-box {
    width: 80px;
    height: 80px;
    border: 0.22rem solid #234342;
    border-radius: 1.2rem;
    background: #8ab6b6;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.title-icon {
    width: 5.2rem;
    height: auto;
}

.title-list-text {
    font-size: 1.7rem;
    color: #297172;
    font-weight: bold;
    letter-spacing: 0.06em;
}

@media (max-width: 600px) {
    .title-container {
        padding-top: 10%;
    }
    .title-card {
        width: 65vw;
        height: 60vh;
        min-width: unset;
        padding: 1.1rem 1rem 1.2rem 1rem;
        padding-top: 5%;
    }
    .title-icon-box {
        width: 60px;
        height: 60px;
    }
    .title-icon{
        width: 4rem;
        height: auto;
    }
    .title-list-text {
        font-size: 1.4rem;
    }
}
